language: python
python:
  - "2.7"
# command to install dependencies
install: 
  - "pip install nose coverage"
  - "pip install -r requirements.txt"
  - "pip install -r django-requirements.txt"
# command to run tests
before_script: cd cdu
script: python manage.py test warrant
