{% extends 'warrant/base.html' %}


{% block main_content %}
    <h1>{{ user.username }}</h1>
    <a href="{% url 'update-profile' %}" class="btn btn-primary">Update your Profile</a>
    <dl>
        <dt>First Name:</dt>
        <dd>{{ user.first_name }}</dd>
        <dt>Last Name:</dt>
        <dd>{{ user.last_name }}</dd>
        <dt>Email:</dt>
        <dd>{{ user.email }}</dd>
        <dt>Address:</dt>
        <dd>{{ user.address }}</dd>
        <dt>Phone:</dt>
        <dd>{{ user.phone_number }}</dd>
        <dt>Gender:</dt>
        <dd>{{ user.gender }}</dd>
        <dt>Preferred Username:</dt>
        <dd>{{ user.preferred_username }}</dd>
        <dt>API Key</dt>
        <dd>{{ user.api_key }}</dd>
        <dt>API Key Id</dt>
        <dd>{{ user.api_key_id }}</dd>
    </dl>
{% endblock main_content %}