{% extends 'base.html' %}
{% block title %}User Info{% endblock %}
{% block main_content %}
  <p>Username: {{ request.user.username }}</p>
  <p>Email: {{ request.user.email }}</p>
  <p>First Name: {{ request.user.first_name }}</p>
  <p>Last Name: {{ request.user.last_name }}</p>
  <p>ID Token: {{ request.session.ID_TOKEN}}</p>
  <p>Access Token: {{ request.session.ACCESS_TOKEN }}</p>
  <p>Refresh Token: {{ request.session.REFRESH_TOKEN }}</p>
  <p>API Key: {{ request.session.API_KEY }}</p>
  <p>API Key ID: {{ request.session.API_KEY_ID }}</p>
{% endblock %}